@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.main-content {
	padding-top: 80px;
	/* or whatever your navbar height is */
}

.dark,
.dark-theme {
  --blue-1: #0a111d;
  --blue-2: #0f1827;
  --blue-3: #0f264b;
  --blue-4: #0b2f68;
  --blue-5: #133b7b;
  --blue-6: #1e488d;
  --blue-7: #2958a4;
  --blue-8: #3169c3;
  --blue-9: #3971cc;
  --blue-10: #2c63bd;
  --blue-11: #7eb4ff;
  --blue-12: #cce2ff;

  --blue-a1: #0012fd0d;
  --blue-a2: #005cfb18;
  --blue-a3: #0966fc3f;
  --blue-a4: #0163fd5e;
  --blue-a5: #166fff72;
  --blue-a6: #2a7bff85;
  --blue-a7: #3884ff9e;
  --blue-a8: #3c87ffbf;
  --blue-a9: #438afec9;
  --blue-a10: #3682feb9;
  --blue-a11: #7eb4ff;
  --blue-a12: #cce2ff;

  --blue-contrast: #fff;
  --blue-surface: #0e1f3d80;
  --blue-indicator: #3971cc;
  --blue-track: #3971cc;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {

    .dark,
    .dark-theme {
      --blue-1: oklch(17.8% 0.028 259.7);
      --blue-2: oklch(20.9% 0.0326 259.7);
      --blue-3: oklch(27.2% 0.0743 259.7);
      --blue-4: oklch(31.7% 0.108 259.7);
      --blue-5: oklch(36.4% 0.118 259.7);
      --blue-6: oklch(41.3% 0.1231 259.7);
      --blue-7: oklch(46.9% 0.133 259.7);
      --blue-8: oklch(53.2% 0.153 259.7);
      --blue-9: oklch(55.8% 0.153 259.7);
      --blue-10: oklch(51.3% 0.153 259.7);
      --blue-11: oklch(77% 0.1437 259.7);
      --blue-12: oklch(90.8% 0.053 259.7);

      --blue-a1: color(display-p3 0 0.0667 0.9882 / 0.047);
      --blue-a2: color(display-p3 0.0667 0.3765 0.9922 / 0.089);
      --blue-a3: color(display-p3 0.1373 0.4078 1 / 0.232);
      --blue-a4: color(display-p3 0.1255 0.3961 1 / 0.349);
      --blue-a5: color(display-p3 0.1843 0.4431 1 / 0.429);
      --blue-a6: color(display-p3 0.251 0.4863 0.9961 / 0.5);
      --blue-a7: color(display-p3 0.302 0.5255 1 / 0.597);
      --blue-a8: color(display-p3 0.3137 0.5373 1 / 0.723);
      --blue-a9: color(display-p3 0.3451 0.5569 1 / 0.761);
      --blue-a10: color(display-p3 0.298 0.5216 1 / 0.698);
      --blue-a11: color(display-p3 0.5569 0.7216 1 / 0.975);
      --blue-a12: color(display-p3 0.8275 0.8941 1 / 0.988);

      --blue-contrast: #fff;
      --blue-surface: color(display-p3 0.0627 0.1176 0.2275 / 0.5);
      --blue-indicator: oklch(55.8% 0.153 259.7);
      --blue-track: oklch(55.8% 0.153 259.7);
    }
  }
}

.dark,
.dark-theme {
  --gray-1: #111113;
  --gray-2: #19191b;
  --gray-3: #222325;
  --gray-4: #292a2e;
  --gray-5: #303136;
  --gray-6: #393a40;
  --gray-7: #46484f;
  --gray-8: #5f606a;
  --gray-9: #6c6e79;
  --gray-10: #797b86;
  --gray-11: #b2b3bd;
  --gray-12: #eeeef0;

  --gray-a1: #1111bb03;
  --gray-a2: #cbcbf90b;
  --gray-a3: #d6e2f916;
  --gray-a4: #d1d9f920;
  --gray-a5: #d7ddfd28;
  --gray-a6: #d9defc33;
  --gray-a7: #dae2fd43;
  --gray-a8: #e0e3fd60;
  --gray-a9: #e0e4fd70;
  --gray-a10: #e3e7fd7e;
  --gray-a11: #eff0feb9;
  --gray-a12: #fdfdffef;

  --gray-contrast: #FFFFFF;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #6c6e79;
  --gray-track: #6c6e79;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {

    .dark,
    .dark-theme {
      --gray-1: oklch(17.8% 0.0042 277.7);
      --gray-2: oklch(21.5% 0.004 277.7);
      --gray-3: oklch(25.5% 0.0055 277.7);
      --gray-4: oklch(28.4% 0.0075 277.7);
      --gray-5: oklch(31.4% 0.0089 277.7);
      --gray-6: oklch(35% 0.01 277.7);
      --gray-7: oklch(40.2% 0.0121 277.7);
      --gray-8: oklch(49.2% 0.0157 277.7);
      --gray-9: oklch(54% 0.0167 277.7);
      --gray-10: oklch(58.6% 0.0165 277.7);
      --gray-11: oklch(77% 0.0138 277.7);
      --gray-12: oklch(94.9% 0.0026 277.7);

      --gray-a1: color(display-p3 0.0667 0.0667 0.9412 / 0.009);
      --gray-a2: color(display-p3 0.8 0.8 0.9804 / 0.043);
      --gray-a3: color(display-p3 0.851 0.898 0.9882 / 0.085);
      --gray-a4: color(display-p3 0.8392 0.8706 1 / 0.122);
      --gray-a5: color(display-p3 0.8471 0.8745 1 / 0.156);
      --gray-a6: color(display-p3 0.8784 0.898 1 / 0.194);
      --gray-a7: color(display-p3 0.8745 0.9059 0.9961 / 0.257);
      --gray-a8: color(display-p3 0.8941 0.9059 1 / 0.37);
      --gray-a9: color(display-p3 0.8902 0.9098 1 / 0.433);
      --gray-a10: color(display-p3 0.902 0.9176 1 / 0.488);
      --gray-a11: color(display-p3 0.9451 0.949 1 / 0.719);
      --gray-a12: color(display-p3 0.9922 0.9922 1 / 0.937);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(54% 0.0167 277.7);
      --gray-track: oklch(54% 0.0167 277.7);
    }
  }
}

.dark,
.dark-theme,
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #111;
}